---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - post
    - posts
permalink: /tags/{{ tag }}/
layout: layouts/base.njk
renderData:
  title: "Tagged “{{ tag }}”"
  metaDescription: "All posts from the Blog tagged with “{{ tag }}”"
---
<div class="page-container">
  <div class="tag-list tag-list--no-wrap">
    <h3 class="tag-list__title">Падобныя артыкулы: "{{ tag | capitalize }}"</h3>
  </div>

  {% set postslist = collections[tag] %}
  {% set show_postslist_tags = true %}
  {% include "components/postslist.njk" %}

  <nav>
    <a href="{{ '/blog/' | url }}">← Да спісу ўсіх артыкулаў</a>
  </nav>
</div>
