<form class="contact-form" name="contact" method="POST" data-netlify="true">
  <label for="name">Імя</label>
  <input type="text" name="name" id="name" autocomplete="name" placeholder="Ваша Імя" title="Калі ласка, увядзіце сваё імя" required>

  <label for="email">Email</label>
  <input type="email" name="email" id="email" autocomplete="email" placeholder="Ваш email"
         title="The domain portion of the email address is invalid (the portion after the @)."
         required>

  <label for="message">Паведамленне</label>
  <textarea name="message" id="message" placeholder="Увядзіце сваё паведамленне сюды" rows="7" required></textarea>

  <button class="contact-form__submit btn" type="submit" name="submit">Даслаць</button>
</form>
