<article class="prism">
    <div class="prism--old">
        <figure>
            <img src="/static{{ prism.old.src }}" alt="{{ prism.old.title }}" loading="lazy">
            <figcaption>{{ prism.old.title }}</figcaption>
            <div>{{ prism.old.description }}</div>
        </figure>
    </div>
    <div class="prism--new">
        <figure>
            <img src="/static{{ prism.new.src }}" alt="{{ prism.new.title }}" loading="lazy">
            <figcaption>{{ prism.new.title }}</figcaption>
            <div>{{ prism.new.description }}</div>
        </figure>
    </div>
</article>
